/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
    font: normal medium/1.4 sans-serif;
}
table {
    border-collapse: collapse;
    /*width: 100%;*/
    empty-cells: show;
}
th, td {
    padding: 0.25rem;
    text-align: left;
    border: 1px solid #ccc;
}
tbody tr:hover {
    background: yellow;
}

/*inputs*/

input[type=text],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email],textarea {
    border: 5px solid white;
    -webkit-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    box-shadow:
            inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

/*btn*/

addbutton {
    background-image:url("fig/addBtn.png");
    background-repeat:no-repeat;
}