<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My AngularJS App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    <link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
    <script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
</head>
<body ng-app="myApp" style="background-color:yellow;text-align:center">

<div ng-controller="addItemController">
    <h1>list It</h1>

    <form name="itemsFrm" ng-submit="addItem()">
        <p>
            <input type="text" placeholder="Name" name="newItemName" ng-model="newItemName" required/>
            <input type="text" placeholder="Adress" name="newItemAddress" ng-model="newItemAddress" required/>
        </p>
        <p>
            <input type="email" placeholder="Email" name="newItemEmail" ng-model="newItemEmail"/>
            <input type="tel" placeholder="Tel" name="newItemTel" ng-model="newItemTel"/>
        </p>
        <p>
            <textarea placeholder="Description" name="newItemDescription" ng-model="newItemDescription"></textarea>
            <button ng-disabled="itemsFrm.$invalid" ng-click="addItem()">Add Item</button>
        </p>
    </form>

    <!--<table ng-table ="itemsTable" class="table table-striped">-->
        <!--<tr ng-repeat="item in items">-->
            <!--<td data-title="'Name'">{{item.name}}</td>-->
            <!--<td data-title="'Age'">{{item.address}}</td>-->
            <!--<td data-title="'Location'">{{item.description}}</td>-->
            <!--<td data-title="'Tel'">{{item.tel}}</td>-->
            <!--<td data-title="'Email'">{{item.email}}</td>-->
        <!--</tr>-->
    <!--</table>-->
    <table align="center">

        <tr>
            <th width="150"> Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Description</th>
        </tr>

        <tr ng-repeat="item in items">

            <td>{{item.name}}</td>
            <td>{{item.address}}</td>
            <td>{{item.description}}</td>
            <td>{{item.email}}</td>
            <td>{{item.tel}}</td>
        </tr>
    </table>


</div>

<!--New Commit test-->
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="app.js"></script>
<script src="view1/view1.js"></script>
<script src="view2/view2.js"></script>
<script src="components/version/version.js"></script>
<script src="components/version/version-directive.js"></script>
<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
